<%- include('partials/header', { title: 'Adicionar Novo Evento' }) %>
    <div class="container">
        <div class="form-container">
            <h1>Adicionar Novo Evento</h1>
            <%- include('partials/event-form', { actionUrl: '/site/eventos/novo' , evento: {} }) %>
        </div>
    </div>
    <%- include('partials/footer') %>