</main>
<footer class="footer">
    <p>&copy; <%= new Date().getFullYear() %> Eventum. Todos os direitos reservados.</p>
    <p>Membros do Grupo: Igor Filipi, Adan, Lucas Melo, Matheus e Gabriel</p>
</footer>

<script src="/css/main.js"></script>

</body>
</html>